.navbar #logo {
    height: 2.5vw;
    width: 8vw;
    max-height: 25px;
    max-width: 90px;
    min-height: 20px;
    min-width: 80px;
    margin-top: 15px;
    margin-left: 50px;
}

body {background-color: #141414;}

.container-perfiles .pregunta-perfiles{
    background-color: #141414;
    width: 100%;
    color: #fff;
    font-size: 3.5vw;
    font-weight: unset;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container-perfiles .lista-perfiles{
    margin: 2em 0;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

li{
    display: inline-block;
    vertical-align: top;
    position: relative;

}

 .container-perfiles .icono-perfil {
    height: 10vw;
    width: 10vw;
    max-height: 200px;
    max-width: 200px;
    min-height: 84px;
    min-width: 84px;
    border-radius: 4px;
    border: none;
}

